body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(200, 200, 249);
  margin: 0;
  font-family: Calibri;
}

ol {
  font-family: Calibri;
  font-size: 1.2rem;
  margin-left: 25px;
}

.header {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  width: 100%;
  color: white;
  display: inline-block;
  background: purple;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  padding: 5px 5px 5px 5px;
}

nav ul {
  margin: 0;
  display: inline-block;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  background-color: rgb(200, 200, 249);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
}

#footer {
  background: purple;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;
}

#footer-text {
  margin-top: 10px;
}

.smiley-face {
  width: 100px;
  height: auto;
  display: block;
  margin: 10px auto;
  padding: 5px 0 5px 15px;
}

.my-blog-heading {
  color: red;
}

.navbar {
  width: 100%;
}

table,
th,
td {
  border: 3px ridge black;
}

table {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
}

th,
td {
  background-color: rgb(242, 231, 247);
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  padding: 8px;
  text-align: left;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  margin-top: 5px;
}

.h2,
.h3 {
  text-decoration: underline;
  margin-left: 30px;
}

h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  text-decoration: underline;
}

ul {
  font-size: 1.2rem;
  margin: 5px 0 10px 30px;
}

#margin-border-padding img {
  margin-left: 30px;
}

img,
picture,
video {
  max-width: 100%;
}

.welcome-paragraph,
.th-paragraph,
.margin-paragraph,
.identity-paragraph,
.learning-paragraph,
.eq-paragraph,
.javascript-dom-paragraph,
.mindset-paragraph,
.twtw-paragraph,
.problem-paragraph,
.reflection-paragraph {
  text-align: left;
  margin: 0 10% 3% 10%;
}

#control-flow-pic,
#loops-pic,
#human-body-pic,
#arrays-pic,
#objects-pic {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 0 0 2%;
  padding: 0;
  border-style: ridge;
  border-color: rgb(250, 203, 211);
  border-width: 10px;
}

.javascript-dom-paragraph h2,
.problem-paragraph h2 {
  margin-top: 40px;
  text-decoration: underline;
}

.problem-code {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 425px) {
  nav ul li {
    margin-bottom: 20px;
  }
  .logo {
    display: block;
    margin-top: 0;
    text-align: center;
  }
  td,
  th {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  th:first-child,
  td:first-child {
    border-top: 3px ridge black;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 425px) and (max-width: 1024px) {
  nav ul li {
    margin-bottom: 20px;
  }
}
