body {
  min-height: 200vh;
  background: rgb(200, 200, 249);
  margin: 0;
  font-family: Calibri;
}

.header {
  background: purple;
  margin: 0;
  padding-right: 30px;
  width: 100%;
  position: sticky;
  top: 0;
}

.header-th {
  margin: 0;
  top: 0;
  padding: 0;
  width: 100%;
  color: white;
  display: inline-block;
  background: purple;
  position: sticky;
  top: 0;
}

.header-th h1 {
  padding: 0;
  margin-left: 30px;
  display: inline-block;
}

.h2-th,
.h3-th {
  margin-left: 30px;
  text-decoration: underline;
}

.p-th {
  margin: 15px 30px 15px 0;
}

.navbar-th ul li a {
  color: black;
  background: rgb(200, 200, 249);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.logo {
  display: inline-block;
  margin-top: 15px;
  color: white;
  padding: 5px 5px 5px 30px;
}

nav ul {
  margin: 0;
  display: inline-block;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  background-color: rgb(200, 200, 249);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
}

.page-container {
  position: relative;
  min-height: 200vh;
}

#footer {
  background: purple;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.smiley-face {
  width: 100px;
  display: inline;
  padding: 5px 0 5px 15px;
  position: relative;
}

.my-blog-heading {
  color: red;
}

.navbar {
  width: 100%;
}

table,
th,
td {
  border: 3px ridge black;
}

table {
  margin-left: 30px;
}

th,
td {
  background-color: rgb(242, 231, 247);
  border-style: ridge;
}

p {
  padding-left: 30px;
  font-size: 1.2rem;
}

@media (max-width: 425px) {
  nav ul li {
    margin-bottom: 30px;
  }
  .logo {
    display: block;
    margin-top: 0;
    text-align: center;
  }
}
