body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(200, 200, 249);
  margin: 0;
  font-family: Calibri;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  display: inline-block;
  background: purple;
  position: sticky;
  top: 0;
}

.header h1 {
  padding: 0;
  margin-left: 30px;
  display: inline-block;
}

.h2,
.h3 {
  margin-left: 30px;
  text-decoration: underline;
}

p {
  margin: 15px 30px 15px 30px;
}

nav ul {
  margin: 0;
  display: inline-block;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  background-color: rgb(200, 200, 249);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
}

@media (max-width: 425px) {
  .navbar ul li {
    margin-bottom: 20px;
  }
  .logo {
    display: block;
    margin-top: 0;
    text-align: center;
  }
}
